// Temas de exemplo crie o seu com base nisso
$themes: ( 
    light: ( 
        main: #f3f3f3
    ), 
    dark: (
        main: #5f5f5f
    )
);

$font-sizes: ( 
    xs: .75rem, // 12px
    sm: .875rem, // 14px
    base: 1rem, // 16px
    md: 1.125rem, // 18px
    lg: 1.25rem, // 20px,
    xl: 1.5rem, // 24px
);

// Percorre a variáavel dos temas
@each $theme-name,
$theme-color in $themes {
    // Cria a classe do tema
    .theme-#{$theme-name} {
        // Percorre as cores do tema
        @each $color-name,
        $color in $theme-color {
            // Cria as classes da cor do tema
            .#{$color-name} {
                color: $color;
            }
            // Cria a var da cor
            --#{$color-name}-color: #{$color};
        }
    }
};

// Percorre a variável das fontes
@each $font-size,
$font in $font-sizes {
    // Verifica se é o base e cria uma classe sem o font-base também
    @if $font-size=='base' {
        .font {
            font-size: $font;
        }
    } // Cria a classe 
    .font-#{$font-size} {
        font-size: $font;
    }
};